services:
  # micro-ROS Agent fuer ESP32-S3
  microros_agent:
    image: microros/micro-ros-agent:humble
    container_name: amr_agent
    network_mode: host
    privileged: true
    restart: always
    command: serial --dev /dev/esp32 -b 921600
    volumes:
      - /dev:/dev

  # ROS 2 Humble Workspace (inkl. RPLidar, TF, URDF)
  amr_dev:
    build: .
    container_name: amr_base
    network_mode: host
    privileged: true
    stdin_open: true
    tty: true
    volumes:
      - ../ros2_ws:/root/ros2_ws
      - /dev:/dev
    command: tail -f /dev/null
