services:
  microros_agent:
    image: microros/micro-ros-agent:humble
    container_name: amr_agent
    network_mode: host
    privileged: true
    restart: always
    command: serial --dev /dev/ttyACM0 -b 921600
    devices:
      - /dev/ttyACM0:/dev/ttyACM0

  rplidar:
    image: ros:humble-ros-base
    container_name: amr_lidar
    network_mode: host
    privileged: true
    restart: always
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    volumes:
      - ../ros2_ws:/root/ros2_ws
    command: >
      bash -c "
        source /opt/ros/humble/setup.bash &&
        source /root/ros2_ws/install/setup.bash 2>/dev/null || true &&
        ros2 launch sllidar_ros2 sllidar_a1_launch.py
      "

  amr_dev:
    build: .
    container_name: amr_base
    network_mode: host
    privileged: true
    volumes:
      - ../ros2_ws:/root/ros2_ws
    command: tail -f /dev/null
